@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif !important;
}

.vh-25 {
  height: 25vh;
}

.vh-50 {
  height: 50vh;
}

.vh-75 {
  height: 75vh;
}

.BgAnimation_svg {
  z-index: -1;
  position: absolute;
  top: 6%;
  right: 0;
  width: 800px;
}

#frontEndText {
  background-image: linear-gradient(60deg, #e21143, #ffb03a);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

/* Download Button */
#downloadbutton-link {
  display: block;
  width: 280px;
}

#downloadbutton-wrapper {
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 255, 255) 0%, rgb(217, 223, 255) 100%) repeat scroll 0% 0%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(23, 0, 102, 0.2) 0px 20px 40px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
  border-radius: 20px;
  height: 75px;
  padding: 12px;
  display: grid;
  border: 0px none;
  grid-template-columns: 53px auto;
  gap: 18px;
}

#resume-downloadtext {
  font-size: 13px;
}

.bootstrap-color {
  color: #815cb8;
}

.react-color {
  color: #00d8ff;
}

.javascript-color {
  color: #f0db4f;
}

.wordpress-color {
  color: #75706e;
}

.sass-color {
  color: #cc6699;
}

.html-color {
  color: #ff0000;
}

.typescript-color {
  color: #2288cd;
}

.css-color {
  color: #2965f1;
}

.nodejs-color {
  color: #68a063;
}

.nav-link {
  color: #686868;
}

.navbar-background-black {
  background-color: rgba(180, 180, 180, 0.7);
}

.black-active {
  color: #000 !important;
}

#about {
  background-color: #f2f2f2;
}
#about h2,
#about h1,
#about h3,
#about p {
  color: #000 !important;
}

.circle1 {
  text-align: center;
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 255, 255) 0%, #0c9eff 100%) repeat scroll 0% 0%;
  border-radius: 50px;
  border: 2px black solid;
  box-shadow: 10px black solid;
  box-shadow: rgba(255, 255, 255, 0.37) 0px 8px 18px 0px;
}

#paragraph2 {
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(163, 163, 163, 0.25) none repeat scroll 0% 0%;
  box-shadow: rgba(105, 105, 105, 0.37) 0px 8px 10px 0px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  max-width: 440px;
  margin: 0 auto;
}

#fred-photo {
  box-shadow: rgba(255, 255, 255, 0.37) 0px 8px 10px 0px;
}

.cls-1 {
  fill: #00d8ff;
}

.cls-2 {
  fill: none;
  stroke: #00d8ff;
  stroke-miterlimit: 10;
  stroke-width: 24px;
}

.react-logo {
  width: 90px;
  height: 90px;
}

.react-logo__circle,
.react-logo__ring {
  transition: ease-out 1.2s;
  transform-origin: center;
}

.react-logo__circle {
  transform: scale(1.3) translate(180px, 108px);
}

.react-logo__ring--1 {
  transition: ease-out 0.7s;
  transition-delay: 2s;
  transform: scale(0);
}

.react-logo__ring--2 {
  transition-delay: 0.7s;
  transform: rotateZ(60deg);
}

.react-logo__ring--3 {
  transition-delay: 1.2s;
  transform: rotateZ(-60deg);
}

body:hover .react-logo__circle {
  transform: scale(1) translate(0);
}

body:hover .react-logo__ring--1 {
  transform: scale(1);
}

body:hover .react-logo__ring--2,
body:hover .react-logo__ring--3 {
  transform: rotateZ(0deg);
}

#projects {
  min-height: 100vh;
  background-color: #fa5d52;
}

.card-logos {
  width: 35px;
}

.card {
  box-shadow: rgba(109, 109, 109, 0.5) 0px 6px 16px 0px;
  border: none !important;
}

.contact-section {
  padding-top: 25vh;
}

#contact-form input {
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 0;
  color: white;
}
#contact-form textarea {
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 0;
  color: white;
}

form input,
form textarea {
  margin: 5px 0;
}

#submit {
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 0;
  color: #fff;
  font-weight: 600;
  transition: 0.5s ease;
  margin: 5px 0;
}

#submit:hover {
  background: #fff;
  color: #000;
  transition: 0.5s ease;
  box-shadow: 0 0 10px #fff;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-linkedin,
.fa-linkedin-square {
  color: #007bb6;
}

.fa-github {
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-30%);
  transition: 0.8s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.slide-bottom {
  transform: translateY(0px);
  transition: 0.5s ease;
}

.slide-bottom:hover {
  transform: translateY(5px);
  transition: 0.5s ease;
}

.slide-top {
  transform: translateY(0px);
  transition: 0.5s ease;
}
.slide-top:hover {
  transform: translateY(-5px);
  transition: 0.5s ease;
}
.slide-top:hover .fa-instagram {
  filter: drop-shadow(0 0 10px #515bd4);
  transition: 0.5s ease;
}
.slide-top:hover .fa-github {
  filter: drop-shadow(0 0 10px #ffffff);
  transition: 0.5s ease;
}
.slide-top:hover .fa-linkedin {
  filter: drop-shadow(0 0 10px #0e76a8);
  transition: 0.5s ease;
}

/* XX-Large devices (larger desktops, 1400px and up) */
/* X-Large devices (large desktops, 1200px and up) */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .contact-section {
    padding-right: 10%;
    padding-left: 10%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .circle1 {
    margin-bottom: 5px;
  }
  .fa-arrow-down {
    visibility: hidden;
  }
}
/* Small devices (landscape phones, 576px and up) */
/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* X-Large devices (large desktops, less than 1400px) */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .BgAnimation_svg {
    width: 750px;
    right: 0;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .BgAnimation_svg {
    width: 700px;
    top: 10%;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .BgAnimation_svg {
    width: 100% !important;
    top: 10%;
    opacity: 100% !important;
  }
  #home-container {
    text-align: center !important;
  }
  #downloadbutton-link {
    margin: 0 auto;
  }
  .skills-text {
    margin-top: 6vh;
  }
  .navbar-background {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .navbar-collapse,
  .ms-auto {
    height: 100vh;
    font-size: 40px;
    text-align: right;
    margin-top: 10%;
    font-weight: bold;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .aboutTextParagraph {
    padding: 0 10% 0 10%;
  }
  .BgAnimation_svg {
    width: 100%;
    top: 15%;
    right: 0;
    opacity: 100%;
  }
}
.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.white-black-wave {
  background-image: url("/src/images/waves/white-black-wave.svg");
  background-color: #f2f2f2;
}

.orange-red-wave {
  background-image: url("/src/images/waves/orange-red-wave.svg");
  background-color: #f2f2f2;
}

.orange-red-down-wave {
  background-image: url("/src/images/waves/orange-red-down-wave.svg");
  background-color: #000;
}/*# sourceMappingURL=main.css.map */