@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.8s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.slide-bottom {
  transform: translateY(0px);
  transition: 0.5s ease;
}

.slide-bottom:hover {
  transform: translateY(5px);
  transition: 0.5s ease;
}

.offerings:nth-child(2) {
  transition-delay: 200ms;
}

.offerings:nth-child(3) {
  transition-delay: 400ms;
}

.offerings:nth-child(4) {
  transition-delay: 600ms;
}

.slide-top {
  transform: translateY(0px);
  transition: 0.5s ease;
}

.slide-top:hover {
  transform: translateY(-5px);
  transition: 0.5s ease;
  .fa-instagram {
    text-shadow: 0 0 10px #515bd4;
    transition: 0.5s ease;
  }
  .fa-github {
    text-shadow: 0 0 10px #ffffff;
    transition: 0.5s ease;
  }
  .fa-linkedin {
    text-shadow: 0 0 10px #0e76a8;
    transition: 0.5s ease;
  }
}
