@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-30%);
  transition: 0.8s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.slide-bottom {
  transform: translateY(0px);
  transition: 0.5s ease;
}

.slide-bottom:hover {
  transform: translateY(5px);
  transition: 0.5s ease;
}

.offerings:nth-child(2) {
  transition-delay: 200ms;
}

.offerings:nth-child(3) {
  transition-delay: 400ms;
}

.offerings:nth-child(4) {
  transition-delay: 600ms;
}

@mixin socials($hover-color) {
  text-shadow: 0 0 10px $hover-color;
  transition: 0.5s ease;
}

.slide-top {
  transform: translateY(0px);
  transition: 0.5s ease;
  &:hover {
    transform: translateY(-5px);
    transition: 0.5s ease;
    .fa-instagram {
      @include socials(#515bd4);
    }
    .fa-github {
      @include socials(#ffffff);
    }
    .fa-linkedin {
      @include socials(#0e76a8);
    }
  }
}
