// https://stephcorrigan.com/modern-color-palettes/ #8
$almostblack: #0f1026;
$deepdarkblue: #1b2040;
$cornflowerblue: #4973f2;
$orange: #f2911b;
$silver: #f2f2f2;

// Other Colors
$javascript-color: #f0db4f;
$react-color: #00d8ff;
$bootstrap-color: #815cb8;
$html-color: #ff0000;
$sass-color: #cc6699;
$wordpress-color: #75706e;
$github-color: #fff;
$linkedin-color: #007bb6;
$typescript-color: #2288cd;
$css-color: #2965f1;
$nodejs-color: #68a063;

.bootstrap-color {
  color: $bootstrap-color;
}
.react-color {
  color: $react-color;
}
.javascript-color {
  color: $javascript-color;
}
.wordpress-color {
  color: $wordpress-color;
}
.sass-color {
  color: $sass-color;
}
.html-color {
  color: $html-color;
}
.typescript-color {
  color: $typescript-color;
}
.css-color {
  color: $css-color;
}

.nodejs-color {
  color: $nodejs-color;
}

.nav-link {
  color: #686868;
}

.navbar-background-black {
  background-color: rgb(180, 180, 180, 0.7);
}

.black-active {
  color: #000 !important;
}

// * Black Outline
.text-black-outline {
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black, -1.41px -1.41px black, -2px 0 black, -1.41px 1.41px black,
    0 2px black;
}
