// https://stephcorrigan.com/modern-color-palettes/ #8

$almostblack: #0f1026;
$deepdarkblue: #1b2040;
$cornflowerblue: #4973f2;
$orange: #f2911b;
$silver: #f2f2f2;

// Other Colors

$javascript-color: #f0db4f;
$react-color: #00d8ff;
$bootstrap-color: #815cb8;
$html-color: #ff0000;
$sass-color: #cc6699;
$wordpress-color: #444140;
$github-color: #fff;
$linkedin-color: #007bb6;
$typescript-color: #007acc;

.bootstrap-color {
  color: $bootstrap-color;
}
.react-color {
  color: $react-color;
}
.javascript-color {
  color: $javascript-color;
}
.wordpress-color {
  color: $wordpress-color;
}
.sass-color {
  color: $sass-color;
}
.html-color {
  color: $html-color;
}
.typescript-color {
  color: $typescript-color;
}
