/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .contact-section {
    padding-right: 10%;
    padding-left: 10%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .circle1 {
    margin-bottom: 5px;
  }
  .fa-arrow-down {
    visibility: hidden;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .BgAnimation_svg {
    width: 750px;
    right: 0;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .BgAnimation_svg {
    width: 700px;
    top: 10%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .BgAnimation_svg {
    width: 100% !important;
    top: 10%;
    opacity: 100% !important;
  }
  #home-container {
    text-align: center !important;
  }
  #downloadbutton-link {
    margin: 0 auto;
  }
  .skills-text {
    margin-top: 6vh;
  }
  .navbar-background {
    background-color: rgb(0, 0, 0, 0.7);
  }
  .navbar-collapse,
  .ms-auto {
    height: 100vh;
    font-size: 40px;
    text-align: right;
    margin-top: 10%;
    font-weight: bold;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .aboutTextParagraph {
    padding: 0 10% 0 10%;
  }
  .BgAnimation_svg {
    width: 100%;
    top: 15%;
    right: 0;
    opacity: 100%;
  }
}
