#projects {
  min-height: 100vh;
  background-color: #fa5d52;
}

.card-logos {
  width: 35px;
}

.card {
  box-shadow: rgba(109, 109, 109, 0.5) 0px 6px 16px 0px;
  border: none !important;
}
